*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #002;
  min-height: 100vh;
  display: grid;
  place-items: center;
  -webkit-perspective: 800px;
          perspective: 800px;
}
body * {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.scene {
  position: relative;
  -webkit-transform: rotateX(calc(var(--y, 0) * -40deg)) rotateY(calc(var(--x, 0) * 180deg));
          transform: rotateX(calc(var(--y, 0) * -40deg)) rotateY(calc(var(--x, 0) * 180deg));
}

.floor {
  position: absolute;
  inset: -1000px;
  background-color: sandybrown;
  background-image: radial-gradient(closest-side, transparent, #002), radial-gradient(Black, 1%, transparent), repeating-linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.0666666667), transparent 10px), repeating-linear-gradient(60deg, transparent 0, rgba(0, 0, 0, 0.0666666667), transparent 10px), repeating-linear-gradient(120deg, transparent 0, rgba(0, 0, 0, 0.0666666667), transparent 10px);
  -webkit-transform: rotateX(90deg) translateZ(-200px);
          transform: rotateX(90deg) translateZ(-200px);
}

.heart {
  position: absolute;
  left: 50%;
}
.heart::after {
  content: "";
  position: absolute;
  inset: -50px;
  background-color: var(--color, red);
  background-image: radial-gradient(rgba(255, 255, 255, 0.2666666667), transparent), -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background-image: radial-gradient(rgba(255, 255, 255, 0.2666666667), transparent), linear-gradient(transparent, black);
  -webkit-clip-path: path("m 50 25 a 25 25 0 0 1 50 0 c 0 25 -50 50 -50 75 c 0 -25 -50 -50 -50 -75 a 25 25 0 0 1 50 0");
          clip-path: path("m 50 25 a 25 25 0 0 1 50 0 c 0 25 -50 50 -50 75 c 0 -25 -50 -50 -50 -75 a 25 25 0 0 1 50 0");
}

.flower {
  position: absolute;
  top: 200px;
}
.flower i {
  position: absolute;
  bottom: 100%;
  width: 4px;
  height: 80px;
  background-color: limegreen;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: flower 5s infinite ease-in-out alternate;
          animation: flower 5s infinite ease-in-out alternate;
}
@-webkit-keyframes flower {
  from {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
  to {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
  }
}
@keyframes flower {
  from {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
  to {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
  }
}
.flower .heart:nth-child(1) {
  -webkit-transform: rotateY(0deg) rotateX(26deg) translateY(-40px);
          transform: rotateY(0deg) rotateX(26deg) translateY(-40px);
}
.flower .heart:nth-child(2) {
  -webkit-transform: rotateY(40deg) rotateX(7deg) translateY(-40px);
          transform: rotateY(40deg) rotateX(7deg) translateY(-40px);
}
.flower .heart:nth-child(3) {
  -webkit-transform: rotateY(80deg) rotateX(2deg) translateY(-40px);
          transform: rotateY(80deg) rotateX(2deg) translateY(-40px);
}
.flower .heart:nth-child(4) {
  -webkit-transform: rotateY(120deg) rotateX(17deg) translateY(-40px);
          transform: rotateY(120deg) rotateX(17deg) translateY(-40px);
}
.flower .heart:nth-child(5) {
  -webkit-transform: rotateY(160deg) rotateX(12deg) translateY(-40px);
          transform: rotateY(160deg) rotateX(12deg) translateY(-40px);
}
.flower .heart:nth-child(6) {
  -webkit-transform: rotateY(200deg) rotateX(10deg) translateY(-40px);
          transform: rotateY(200deg) rotateX(10deg) translateY(-40px);
}
.flower .heart:nth-child(7) {
  -webkit-transform: rotateY(240deg) rotateX(2deg) translateY(-40px);
          transform: rotateY(240deg) rotateX(2deg) translateY(-40px);
}
.flower .heart:nth-child(8) {
  -webkit-transform: rotateY(280deg) rotateX(8deg) translateY(-40px);
          transform: rotateY(280deg) rotateX(8deg) translateY(-40px);
}
.flower .heart:nth-child(9) {
  -webkit-transform: rotateY(320deg) rotateX(8deg) translateY(-40px);
          transform: rotateY(320deg) rotateX(8deg) translateY(-40px);
}

.leafs {
  position: absolute;
  top: 200px;
}
.leafs i {
  position: absolute;
  bottom: 100%;
  width: 4px;
  height: 75%;
  background-color: limegreen;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(var(--rx));
          transform: rotateX(var(--rx));
}
.leafs > i:nth-child(1) {
  left: -2px;
  height: 78px;
  rotate: y 0deg;
  --rx: 16deg;
  --color: hsl(120 100% 36);
}
.leafs > i:nth-child(2) {
  left: -2px;
  height: 56px;
  rotate: y 30deg;
  --rx: 33deg;
  --color: hsl(120 100% 32);
}
.leafs > i:nth-child(3) {
  left: -2px;
  height: 75px;
  rotate: y 60deg;
  --rx: 21deg;
  --color: hsl(120 100% 33);
}
.leafs > i:nth-child(4) {
  left: -2px;
  height: 75px;
  rotate: y 90deg;
  --rx: 27deg;
  --color: hsl(120 100% 37);
}
.leafs > i:nth-child(5) {
  left: -2px;
  height: 80px;
  rotate: y 120deg;
  --rx: 13deg;
  --color: hsl(120 100% 31);
}
.leafs > i:nth-child(6) {
  left: -2px;
  height: 72px;
  rotate: y 150deg;
  --rx: 25deg;
  --color: hsl(120 100% 36);
}
.leafs > i:nth-child(7) {
  left: -2px;
  height: 79px;
  rotate: y 180deg;
  --rx: 19deg;
  --color: hsl(120 100% 34);
}
.leafs > i:nth-child(8) {
  left: -2px;
  height: 64px;
  rotate: y 210deg;
  --rx: 28deg;
  --color: hsl(120 100% 37);
}
.leafs > i:nth-child(9) {
  left: -2px;
  height: 75px;
  rotate: y 240deg;
  --rx: 16deg;
  --color: hsl(120 100% 35);
}
.leafs > i:nth-child(10) {
  left: -2px;
  height: 57px;
  rotate: y 270deg;
  --rx: 18deg;
  --color: hsl(120 100% 29);
}
.leafs > i:nth-child(11) {
  left: -2px;
  height: 72px;
  rotate: y 300deg;
  --rx: 30deg;
  --color: hsl(120 100% 35);
}
.leafs > i:nth-child(12) {
  left: -2px;
  height: 67px;
  rotate: y 330deg;
  --rx: 18deg;
  --color: hsl(120 100% 26);
}
.leafs .heart {
  -webkit-transform: rotate(180deg) translateY(25px);
          transform: rotate(180deg) translateY(25px);
  -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.3333333333));
          filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.3333333333));
}
.leafs .heart::after {
  background-image: repeating-linear-gradient(45deg, transparent 0, rgba(0, 0, 0, 0.2), transparent 10px), -webkit-gradient(linear, left top, right top, color-stop(40%, transparent), color-stop(rgba(0, 0, 0, 0.2)), color-stop(60%, transparent)), repeating-linear-gradient(-45deg, transparent 0, rgba(0, 0, 0, 0.2), transparent 10px);
  background-image: repeating-linear-gradient(45deg, transparent 0, rgba(0, 0, 0, 0.2), transparent 10px), linear-gradient(90deg, transparent 40%, rgba(0, 0, 0, 0.2), transparent 60%), repeating-linear-gradient(-45deg, transparent 0, rgba(0, 0, 0, 0.2), transparent 10px);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position-x: 0%, 50%, 100%;
}

i::after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  rotate: y 90deg;
}